@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {

    margin: 0;
    padding: 0;

}


/*Lateral Menu*/

.menu {

    position: fixed;
    height: 100vh;
    width: 13%;
    background: linear-gradient(180deg, #012C10, #067a2f);
    overflow: hidden;
    transition: 0.3s;

}

.containerHome {

    display: flex;
    height: 100vh;
    width: 100%;

}

.retract {

    width: 5%;

}

.retract .items {

    transition: 0.3s;
    width: 48px;

}

.retract .items span {

    transition: 0.3s;
    margin-left: 30px;
    opacity: 0;

}

.retract .logo span {

    transition: 0.3s;
    margin-left: 30px;
    opacity: 0;

}

.retract .arrow {

    margin-left: 22px;

}

.retract #arrowLeft {

    transform: rotate(180deg);

}

.logo {

    display: flex;
    align-items: center;
    margin: 15px 0px 15px 11px;
    font-size: 20px;
    color: #fff;

}

.logo span {

    display: flex;
    margin-left: 9px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    overflow: hidden;

}


ul {

    margin-top: 40px;

}

.items {

    width: 165px;
    padding: 7px;
    border-radius: 0 10px 10px 0;
    margin-top: 25px;
    list-style-type: none;
    cursor: pointer;
    transition: 0.3s;

}

.colorItems {

    background: rgb(0, 182, 63, 0.3);

}

.items a {

    display: flex;
    align-items: center;
    margin-left: 16px;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    outline: none;

}

.items span {

    margin-left: 15px;

}

.arrow {

    display: flex;
    align-items: center;
    margin-bottom: auto;
    width: 40px;
    margin: 165px 0px 15px 145px;
    overflow: hidden;
    transition: 0.3s;

}

#arrowLeft {

    transition: 0.3s;
    cursor: pointer;

}


/*Top Bar*/

.content {

    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 13%;
    width: 87%;
    height: 100vh;
    transition: 0.3s;

}

.expand {

    margin-left: 5%;
    width: 95%;

}

.expand .content{}


.topBar {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 18px auto;
    width: 95%;
    height: 50px;
    border: 0.1px solid #d9d9d9;
    border-radius: 10px;
    padding: 5px 0 5px 0;

}

.topBar p {

    margin-left: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #333333;

}

.topBar input {

    border-radius: 50%;

}

.menu_User {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;

}

.menu_User:hover {

    background: #d9d9d9;

}


/*Kits Contents*/

.KitContent {

    width: 95%;
    height: 80%;
    margin: 18px auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;
    border: 0.1px solid #d9d9d9;

    overflow: hidden;

}

.KitContent #sectionKits {

    width: 100%;
    height: 5%;

    display: flex;
    align-items: center;
    
    padding: 10px;
    background: #067a2f;
}

.KitContent #sectionKits > h2 {

    margin-left: 10px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #fff;

}

.KitContent #sectionKits > button {

    padding: 0px 7px 2px 7px;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #067a2f;

    background-color: #fff;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.KitContent #sectionKits > button:active {

    background: #067a2f;
    color: #fff;

}


/*Kits Table*/

.KitContent .divTableKits {

    width: 98.5%;
    margin-top: 20px;

    display: flex;
    justify-content: left;
    overflow: scroll;

    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

.divTableKits > table {

    width: 100%;
    
}

.divTableKits::-webkit-scrollbar {

    width: 15px;
    height: 15px;

    background: #f6f6f6;
    border-radius: 5px;

}

.divTableKits::-webkit-scrollbar-thumb {

    background-color: #d9d9d9;
    border-radius: 10px;
    border: 3px solid #f6f6f6;

}

.divTableKits::-webkit-scrollbar-thumb:active {

    background-color: #9c9999;

}

.divTableKits .lineHeader > th {

    padding: 5px;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 300;
    color: #fff;

    background: #012C10;

}

.divTableKits .bodyTableKits {

    width: 100%;
    transition: 0.5s;

}

.divTableKits .bodyTableKits > tr , td {

    padding: 5px;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 300;
    color: #000;

}

.bodyTableKits tr:nth-of-type(even) {

    background: #fafafa;
}


/*Edit Buttons Table*/

.columnEdit .edit, .delete {

    cursor: pointer;

}

.columnEdit, .edit, span {

    margin-left: 5px;

}


/*width of the some columns*/

.supplier {

    width: 100px;

}

.columnEdit {

    width: 70px;
}





/*Modal Kit*/

.ModalKit {

    width: 100vw;
    height: 100vh;
    
    display: none;

    font-family: 'IBM Plex Sans', sans-serif;

    z-index: 5;

    background: rgb(51, 51, 51,0.7);
}


/*Form Register Kit*/

.ModalKit .FormsRegisterKit {

    width: 36%;
    height: auto;
    margin: 2% auto;

    border-radius: 10px;
    overflow: hidden;

    background: #fff;
    animation: appearing 0.3s ease-in-out;
    transition: 0.3s;

}

@keyframes appearing {

    for {
        opacity: 0%;
        transform: scale(0.1);
    }
    
    to {
        opacity: 100%;
        transform: scale(1);
    }
}

.FormsRegisterKit > section {

    width: 100%;
    padding: 10px 0 10px 0;

    display: flex;
    align-items: center;
    vertical-align: middle;

    background: #067a2f;

}

.FormsRegisterKit > section > #h2 {

    margin-left: 10px;

    font-weight: 300;
    color: #fff;

}

.FormsRegisterKit > section > #closeModal {

    margin-left: auto;
    margin-right: 20px;

    font-weight: 300;
    font-size: 30px;
    color: #fff;

    cursor: pointer;

}

.FormsRegisterKit > form {

    width: 515px;
    height: auto;

    margin: 10px auto;

    display: grid;
    grid-template-columns: 50% 50%;
    
    column-gap: 20px;
    row-gap: 30px;

    justify-content: center;

}

.FormsRegisterKit > form > div {

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;

}

.FormsRegisterKit > form > div > label {

    margin-bottom: 5px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;

}

.FormsRegisterKit > form > div > input {

    border: 0.1px solid #d9d9d9;
    border-radius: 5px;
    outline: none;

    max-width: 100%;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;

    padding: 7px;

    background: #ededed;

}

.FormsRegisterKit > form > div > input:focus {

    border-color: #067a2f;

}

.FormsRegisterKit > div {

    border-top: 0.1px solid #d9d9d9;

    padding: 10px;

    display: flex;
    justify-content: center;

    margin: 70px 0 0 0;

    width: auto;
    height: 40px;

}

.FormsRegisterKit > div > button {

    border: none;
    border-radius: 5px;

    outline: none;

    padding: 10px;

    width: 100px;
    height: 40px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #fff;

    background: #067a2f;

    cursor: pointer;
    transition: 0.3s;
}


.FormsRegisterKit > div > button:hover {

    background: #036726;

}



/*Modal Edit Kit*/

.ModalEditKit {

    width: 100vw;
    height: 100vh;
    
    display: none;

    font-family: 'IBM Plex Sans', sans-serif;

    z-index: 5;

    background: rgb(51, 51, 51,0.7);
}



/*Form Edit Kit*/

.ModalEditKit .FormsEditKit {

    width: 36%;
    height: auto;
    margin: 2% auto;

    border-radius: 10px;
    overflow: hidden;

    background: #fff;
    animation: appearing 0.3s ease-in-out;
    transition: 0.3s;

}

@keyframes appearing {

    for {
        opacity: 0%;
        transform: scale(0.1);
    }
    
    to {
        opacity: 100%;
        transform: scale(1);
    }
}

.FormsEditKit > section {

    width: 100%;
    padding: 10px 0 10px 0;

    display: flex;
    align-items: center;
    vertical-align: middle;

    background: #067a2f;

}

.FormsEditKit > section > #h2 {

    margin-left: 10px;

    font-weight: 300;
    color: #fff;

}

.FormsEditKit > section > #closeModalEdit {

    margin-left: auto;
    margin-right: 20px;

    font-weight: 300;
    font-size: 30px;
    color: #fff;

    cursor: pointer;

}

.FormsEditKit > form {

    width: 515px;
    height: auto;

    margin: 10px auto;

    display: grid;
    grid-template-columns: 50% 50%;
    
    column-gap: 20px;
    row-gap: 30px;

    justify-content: center;

}

.FormsEditKit > form > div {

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;

}

.FormsEditKit > form > div > label {

    margin-bottom: 5px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;

}

.FormsEditKit > form > div > input {

    border: 0.1px solid #d9d9d9;
    border-radius: 5px;
    outline: none;

    max-width: 100%;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;

    padding: 7px;

    background: #ededed;

}

.FormsEditKit > form > div > input:focus {

    border-color: #067a2f;

}

.FormsEditKit > div {

    border-top: 0.1px solid #d9d9d9;

    padding: 10px;

    display: flex;
    justify-content: center;

    margin: 70px 0 0 0;

    width: auto;
    height: 40px;

}

.FormsEditKit > div > button#btnUpdateKit {

    border: none;
    border-radius: 5px;

    outline: none;

    padding: 10px;
    margin-right: 15px;

    width: 150px;
    height: 40px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #fff;

    background: #067a2f;

    cursor: pointer;
    transition: 0.3s;
}


.FormsEditKit > div > button#updateKit:hover {

    background: #036726;

}


.FormsEditKit > div > button#cancelUpdate {

    border: none;
    border-radius: 5px;

    outline: none;

    padding: 10px;
    margin-right: 15px;

    width: 110px;
    height: 40px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #fff;

    background: #f60909;

    cursor: pointer;
    transition: 0.3s;
}


.FormsEditKit > div > button#cancelUpdate:hover {

    background: #cf0202;

}



/*Modal Delete Kit*/

.ModalDeleteKit {

    width: 100vw;
    height: 100vh;
    
    display: none;

    font-family: 'IBM Plex Sans', sans-serif;

    z-index: 5;

    background: rgb(51, 51, 51,0.7);
}

.ModalDeleteKit .DivDeleteKit {

    width: 36%;
    height: auto;
    margin: 2% auto;

    border-radius: 10px;
    overflow: hidden;

    background: #fff;
    animation: appearing 0.3s ease-in-out;
    transition: 0.3s;

}

@keyframes appearing {

    for {
        opacity: 0%;
        transform: scale(0.1);
    }
    
    to {
        opacity: 100%;
        transform: scale(1);
    }
}

.DivDeleteKit > section {

    width: 100%;
    padding: 10px 0 10px 0;

    display: flex;
    align-items: center;
    vertical-align: middle;

    background: #067a2f;

}

.DivDeleteKit > section > #h2 {

    margin-left: 10px;

    font-weight: 300;
    color: #fff;

}

.DivDeleteKit > section > #closeDeleteKit {

    margin-left: auto;
    margin-right: 20px;

    font-weight: 300;
    font-size: 30px;
    color: #fff;

    cursor: pointer;

}

.DivDeleteKit .MessageDelete {

    width: 100%;
    padding: 20px 0 20px 0;

    display: block;
    text-align: center;

}

.DivDeleteKit .MessageDelete > h3 {

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;

}

.DivDeleteKit .MessageDelete > h5 {

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;

}

.DivDeleteKit > div {

    display: flex;
    justify-content: center;

    padding: 10px 0 10px 0;

    border-top: 0.1px solid #d9d9d9;

}

.DivDeleteKit > div > button#btnDeleteKit {

    border: none;
    border-radius: 5px;

    outline: none;

    padding: 10px;
    margin-right: 15px;

    width: 110px;
    height: 40px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #fff;

    background: #067a2f;

    cursor: pointer;
    transition: 0.3s;

}

.DivDeleteKit > div > button#btnDeleteKit:hover {

    background: #036726;

}

.DivDeleteKit > div > button#btnCancelDelete {

    border: none;
    border-radius: 5px;

    outline: none;

    padding: 10px;
    margin-right: 15px;

    width: 110px;
    height: 40px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #fff;

    background: #f60909;

    cursor: pointer;
    transition: 0.3s;

}

.DivDeleteKit > div > button#btnCancelDelete:hover {

    background: #cf0202;

}
